EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_DEMO_MODE=true
EXPO_PUBLIC_ENABLE_AI=true
EXPO_PUBLIC_ENABLE_OFFLINE=true
EXPO_PUBLIC_MQTT_BROKER_URL=ws://localhost:1884
EXPO_PUBLIC_OPENWEATHER_KEY=
EXPO_PUBLIC_DATA_GOV_KEY=
EXPO_PUBLIC_AZURE_OPENAI_KEY=
EXPO_PUBLIC_AZURE_OPENAI_ENDPOINT=
EXPO_PUBLIC_AZURE_VISION_KEY=
EXPO_PUBLIC_AZURE_VISION_ENDPOINT=
EXPO_PUBLIC_AZURE_SPEECH_KEY=
EXPO_PUBLIC_AZURE_SPEECH_REGION=
EXPO_PUBLIC_AZURE_OPENAI_DEPLOYMENT_NAME=
EXPO_PUBLIC_AZURE_OPENAI_API_VERSION=
EXPO_PUBLIC_AZURE_TRANSLATOR_KEY=
EXPO_PUBLIC_AZURE_TRANSLATOR_REGION=
EXPO_PUBLIC_AZURE_TRANSLATOR_ENDPOINT=
EXPO_PUBLIC_AGROMONITORING_API_KEY=

